{{header_layout}}

<div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
      style="background:#ffffff;background-color:#ffffff;width:100%">
      <tbody>
          <tr>
              <td style="direction:ltr;font-size:0px;padding:5px 5px 5px 5px;text-align:center">

                  <div style="margin:0px auto;max-width:590px">
                      <table align="center" border="0" cellpadding="0" cellspacing="0"
                          role="presentation" style="width:100%">
                          <tbody>
                              <tr>
                                  <td
                                      style="direction:ltr;font-size:0px;padding:5px 5px 5px 5px;text-align:center">

                                      <div class="m_8419581472081355808mj-column-per-100"
                                          style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                          <table border="0" cellpadding="0" cellspacing="0"
                                              role="presentation" style="vertical-align:top"
                                              width="100%">
                                              <tbody>
                                                  <!-- Title text -->
                                                  <tr>
                                                      <td align="left"
                                                          style="font-size:0px;padding:5px 5px 10px 5px;padding-bottom:10px;word-break:break-word">
                                                          <div
                                                              style="font-family:Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:20px;font-weight:900;line-height:25px;text-align:left;color:#000000">
                                                              {{title}}
                                                          </div>
                                                      </td>
                                                  </tr>
                                                  <!--  -->

                                                  <!--Main & Description Content-->
                                                  <tr>
                                                      <td align="left"
                                                          style="background:#ffffff;font-size:0px;padding:5px 5px 5px 5px;word-break:break-word">
                                                          <div style="font-family:Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:14px;line-height:20px;text-align:left;color:#000000">
                                                            <p style="margin: 0;">
                                                              Hello {{name}},
                                                            </p>
                                                            {{description}}
                                                          </div>
                                                      </td>
                                                  </tr>
                                                  <!--  -->

                                                  <!-- Action Button -->
                                                  <!-- <tr>
                                                      <td align="left"
                                                          style="font-size:0px;padding:10px 5px 10px 5px;padding-top:10px;padding-bottom:10px;word-break:break-word">
                                                          <table border="0" cellpadding="0"
                                                              cellspacing="0" role="presentation"
                                                              style="border-collapse:separate;line-height:100%">
                                                              <tbody>
                                                                  <tr>
                                                                      <td align="center"
                                                                          bgcolor="#000000"
                                                                          role="presentation"
                                                                          style="border:none;border-radius:3px;background:#000000"
                                                                          valign="middle">
                                                                          <a href="https://www.binance.com/en/my/security"
                                                                              style="display:inline-block;background:#3772ff;color:#ffffff;font-family:Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;font-size:14px;font-weight:900;line-height:15px;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;border-radius:3px"
                                                                              target="_blank"
                                                                              data-saferedirecturl="https://www.google.com/url?q=https://www.binance.com/en/my/security&amp;source=gmail&amp;ust=1665154159759000&amp;usg=AOvVaw2CTFD7kJ2v23QY067ZaIt_">
                                                                              Visit Security
                                                                              Center
                                                                          </a>
                                                                      </td>
                                                                  </tr>
                                                              </tbody>
                                                          </table>
                                                      </td>
                                                  </tr> -->
                                                  <!--  -->

{{footer_layout}}